
<form id="formaPocetna" action="/oglasi/grad" method="POST">
    <div id="naslovInputDiv">
        <h1 class="naslovHomeStranica">Izaberite Vas grad</h1>
        <div class="inputDiv">
            <select id="input" class="birajGradInput" name="chooseCity">
                <% JSON.parse(gradoviDb).forEach(grad => { %> 
                    <option value="<%= grad.naziv %>"> <%= grad.naziv %>  </option>
                <% }) %>
            </select>
        </div>
        <div id="klinkniPrikaziSveRezultateDiv">
            <div id="klinkniPrikaziSveRezultateDiv2">
                <p>Klikni na mapu za oglase u odredjenoj oblasti</p>
                <button class="buttonPrikaziOglase">Prikazi sve oglase grada</button>
            </div>
        </div>
    </div>
</form>


<div id="MapaSliderDiv">
    <div id="Map"></div>
</div>











<script>
var mapa;

var radius = 2500;

var brojOglasaUPolju = 0;

var formaZaOdredjeneOblasti = document.createElement("form");
formaZaOdredjeneOblasti.action = "/oglasi/radiusOglasi";
formaZaOdredjeneOblasti.method = "POST";

var buttonPrikaziOblast = document.createElement("button");
buttonPrikaziOblast.type = "submit";
buttonPrikaziOblast.value = brojOglasaUPolju;
buttonPrikaziOblast.name = "dugmeZaOdredjeneOblasti";
buttonPrikaziOblast.className = "buttonPrikaziOglase";
buttonPrikaziOblast.innerHTML = "Prikazi oglase u ovoj oblasti (" + brojOglasaUPolju + ")";
buttonPrikaziOblast.id = "dugmePrikaziOblast";

var velicinaRadiusa = document.createElement("button");
velicinaRadiusa.className = "buttonShowMeters";
velicinaRadiusa.innerHTML = radius + "m";

var saljiNiz = document.createElement("input");
saljiNiz.name = "saljiNiz";
saljiNiz.type = "hidden";

function findPos(obj) {
    var curtop = 0;
    if (obj.offsetParent) {
        do {
            curtop += obj.offsetTop;
        } while (obj = obj.offsetParent);
    return [curtop];
    }
}


var sliderDiv = document.createElement("div"); //div za slajder
sliderDiv.style.display = "flex";
sliderDiv.style.flexDirection = "row";
sliderDiv.style.justifyContent = "center";
sliderDiv.style.alignItems = "center";
var buttonPrikaziOblastDiv = document.createElement("div"); //div za dugme za prikaz odredjenih oglasa


function myMap(){

    //Kreiranje objekta za opcije koje ce biti prosledjene mapi :)
    var options = {
        zoom: 10,
        center: centerPosition
        //mapTypeId: "terrain"
    }

    //Kreiranje mape
    mapa = new google.maps.Map(document.getElementById("Map"), options);

    google.maps.event.addListener(mapa, 'click', function(event) {
        console.log("Koordinate su: " + event.latLng);
        let myLatLng = event.latLng;
        var lat = myLatLng.lat();
        var lng = myLatLng.lng();
        centarKrugaKoordinate = myLatLng;
        klikNaMapu(centarKrugaKoordinate);

        //addMarker(event.latLng); Ovo apsolutno radi
    });

    dodajSveMarkereArray();
}

//Sta radimo kada kliknemo na mapu
function klikNaMapu(coordsObjekat){
    if(cityCircle == null){ //Ako nema kruga, pravimo ga
        slider.value = "2500";
        radius = 2500;
        krug(coordsObjekat);
        PrikaziMarkereUnutarRadiusa();
    }
    else{ //Ako ima kruga, brisemo ga
        cityCircle.setMap(null);
        cityCircle = null;
        arrayMarkeri.forEach(marker => {
            marker.setMap(null);
        });
    }

    if(cityCircle != null){ //Ako ima kruga na mapi, crtamo slajder
        var MapaSliderDiv = document.getElementById("MapaSliderDiv");

        sliderDiv.id = "Slider";
        sliderDiv.appendChild(slider);
        sliderDiv.appendChild(velicinaRadiusa);
        MapaSliderDiv.appendChild(sliderDiv)

        buttonPrikaziOblastDiv.appendChild(buttonPrikaziOblast);
        formaZaOdredjeneOblasti.appendChild(buttonPrikaziOblastDiv);
        formaZaOdredjeneOblasti.appendChild(saljiNiz);
        MapaSliderDiv.appendChild(formaZaOdredjeneOblasti);

        window.scroll(0,findPos(dugmePrikaziOblast)); //scrooluj do ovog elementa
        
    }
    else{ //Ako nema kruga, brisemo ga
        var skorGoreElement = document.getElementById("input");
        window.scroll(0,findPos(skorGoreElement));
        window.setTimeout(() =>{
            sliderDiv.remove();
            buttonPrikaziOblastDiv.remove();
        }, 200)
        
    }
}

//Deo vezan za pravljenje kruga
var cityCircle;
var centarKrugaKoordinate;

function krug(coordsObjekat){
        cityCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.25,
        map: mapa,
        center: coordsObjekat,
        radius: radius
    });
}


//Deo za pravljenje markera
var marker;

function dodajSveMarkereArray(){
    var markeri = <%-markeri%>;
    console.log("Treba da ima 4: " + markeri.length)
    markeri.forEach(koordinate => {
        addMarker(koordinate);
    });
}

function addMarker(coords){
        marker = new google.maps.Marker({
        position: coords,
        map: null,
        //clickable: false //hover afect none
    });
    arrayMarkeri.push(marker);
}
var arrayRadiusMarkeri = [];
var arrayMarkeri = [];


function izabraoZeljeniGrad(selectedIndexOfInput){
    //console.log(nizObjekataGradova[selectedIndexOfInput].naziv);
    mapaPositionRefresh(nizObjekataGradova[selectedIndexOfInput].koordinate); 
}

//Deo za options u select
var input = document.getElementById("input");
input.addEventListener("change", (event) => izabraoZeljeniGrad(event.target.selectedIndex));

 var nizObjekataGradova = <%- gradoviDb %>;


//Pravljenje slajdera
var slider = document.createElement("input");
    slider.type = "range";
    slider.min = "1";
    slider.max = "5000";
    slider.value = "2500";
    slider.className = "slider";

slider.oninput = function(){ //Promena vrednosti slajdera
    cityCircle.setMap(null); //brisemo stari krug
    radius = parseInt(this.value);
    velicinaRadiusa.innerHTML = this.value + "m";
    krug(centarKrugaKoordinate);
    PrikaziMarkereUnutarRadiusa();
}


//Za prikazivanje i sklanjanje markera sa mape
function PrikaziMarkereUnutarRadiusa(){
    arrayRadiusMarkeri = [];
    brojOglasaUPolju = 0;
    arrayMarkeri.forEach(marker => {
        let daljina = daljinaIzmedju2Tacke(marker.position);
        if(radius > daljina){
            brojOglasaUPolju++;
            buttonPrikaziOblast.value = brojOglasaUPolju;
            marker.setMap(mapa);
            arrayRadiusMarkeri.push(marker.position);
        }
        else marker.setMap(null);
        buttonPrikaziOblast.innerHTML = "Prikazi oglase u ovoj oblasti (" + brojOglasaUPolju + ")";
    });
    saljiNiz.value = JSON.stringify(arrayRadiusMarkeri);
    console.log("Ovo su markeri u radiusu: " + JSON.stringify(arrayRadiusMarkeri));
}

function daljinaIzmedju2Tacke(markerKoordinate){

    var distanceInMeters = google.maps.geometry.spherical.computeDistanceBetween(
        centarKrugaKoordinate,
        markerKoordinate
    );
    return distanceInMeters;
}


//Funkcija za smooth scrool
function findPos(obj) {
    var curtop = 0;
    if (obj.offsetParent) {
        do {
            curtop += obj.offsetTop;
        } while (obj = obj.offsetParent);
    return [curtop];
    }
}


//Funkcija za refresovanje mesta koje mapa prikazuje -> trigeruje promena inputa
function mapaPositionRefresh(koordinate){
    centerPosition = koordinate;
    mapa.setCenter(koordinate);
}

var centerPosition = nizObjekataGradova[0].koordinate;

</script>
<script src="https://developers.google.com/maps/documentation/javascript/reference/geometry#spherical" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtJ0PgwTG8HtBcG48X00dnH7NmjkwJMac&callback=myMap&libraries=geometry" async defer></script>