<nav id="nav">
        <div class="NavNazivApp">
            <a href="/">
                <span style="color: #ff6600;">cimi</span>LOVE
            </a>
        </div>
        <div class="NavAtributi">
            <a href="/korisnici">
                Profili
            </a>
            <a href="/oglasi">
                Oglasi
            </a>
        </div>
        <div class="NavAtributi">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/signUp">Sign Up</a>
        </div>
</nav>