<div class="rasporediUnutra">
    <div class="divce">
        <label>Naziv Grada</label>
        <input type="text" value="<%= oglas.nazivGrada %>" readonly class="podesiInputNajbolji">
    </div>
    <div class="divce">
        <label>Opstina ili deo grada</label>
        <input type="text" value="<%= oglas.deoGradaOpstina %>" readonly class="podesiInputNajbolji">
    </div>
    <div class="divce">
        <label>Adresa</label>
        <input type="text" value="<%= oglas.adresa %>" readonly class="podesiInputNajbolji">
    </div>
</div>