<div class="rasporediUnutra">

    <div class="maliDiv">
        <input type="checkbox" name="vesMasina">
        <label>Ves masina</label>
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="zamrzivac">
        <label>Zamrzivac</label>
        
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="frizider">
        <label>Frizider</label>
        
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="friziderSaZamrzivacem">
        <label>Frizider sa zamrzivacem</label>
        
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="sporet">
        <label>Sporet</label>      
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="mikrotalasna">
        <label>Mikrotalasna</label>      
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="kada">
        <label>Kada</label>      
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="tusKabina">
        <label>Tus kabina</label>
        
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="klima">
        <label>Klima</label>       
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="tv">
        <label>Tv</label>       
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="sank">
        <label>Sank</label>       
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="terasa">
        <label>Terasa</label>
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="usisivac">
        <label>Usisivac</label>
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="aspirator">
        <label>Aspirator</label>       
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="mikser">
        <label>Mikser</label>      
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="escajg">
        <label>Escajg</label>       
    </div>
    <div class="maliDiv">
        <input type="checkbox" name="posudje">
        <label>Posudje</label>        
    </div>
</div>