 
 <div style="width: 100%;">
    <input type="file" name="ubaciSliku" 
    class="filepond" 
    multiple 
    data-allow-reorder="true" 
    data-max-file-size="3MB" 
    data-max-files="5" /> <%# data-file-metadata-poster="<= oglas.coverImagePath >" %> 
</div>